.dropButton {
    background-color: #000000;
    color: gray;
    padding: 16px;
    cursor: pointer;
    border: 2px solid #333333;
    font-family: DosisLight, sans-serif;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdownContent a {
    color: #7c7c7c;
    padding: 12px 16px;
    display: block;
    font-family: DosisLight, sans-serif;
    border: 1px solid #333333;
}

.dropdown a:hover {
    background-color: #353535;
}

.showItem {
    display: block;
}