.modalContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 15px;
    border: 4px solid #333333;
    text-align: center;
    background-color: #686868;
    font-family: DosisLight, serif;
    width: 15vw;
    pointer-events: all;
}