.flexBox {
    display: flex;
    align-items: center;
    place-content:center;
    flex-wrap: wrap;
}
.generalTexts{
    color: white;
    font-family: DosisLight;
}
.centeredTexts{
    color: white;
    font-family: DosisLight;
    text-align: center;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.layer{
    position: absolute;
}

.tabButton{
    width: 8rem;
    height: 3rem;
    background-color: black;
    border: 2px solid;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}